---
import { getCollection } from 'astro:content';
import Page from '../layouts/Page.astro';

const allBlogPosts = await getCollection('eng2');

// Sort the blog posts by the `week` field
allBlogPosts.sort((a, b) => a.data.week - b.data.week);

// Group by week
const postsByWeek = allBlogPosts.reduce((acc, post) => {
  const week = post.data.week;
  if (!acc[week]) {
    acc[week] = [];
  }
  acc[week].push(post);
  return acc;
}, {});
---

<Page title='English 2'>
<main>
    {Object.keys(postsByWeek).map(week => (
        <section id={week}>
            <h2 id={week}>Week {week}</h2>
            <ul>
                {postsByWeek[week].map(blogPostEntry => (
                    <li id={blogPostEntry.slug}>
                        <a href={`/eng2/${blogPostEntry.slug}`}>{blogPostEntry.data.title}</a>
                    </li>
                ))}
            </ul>
        </section>
    ))}
</main>
</Page>

<style>
  main{
    padding-left: 10%;
    padding-right: 10%;
  }
  li{
    padding-top: 0.2%;
    padding-bottom: 0.2%;
  }
</style>