---
import { getCollection } from 'astro:content';
import Page from '../../layouts/Page.astro';
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection('stats2');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();

---
<Page title={entry.data.title}>
  <div class="meta">
    <a href= {`/stats2#${entry.data.week}`}>Week: {entry.data.week}</a></>
    <a href={`/${entry.data.subjectcode}`}>{entry.data.subject}</a>
    <p>Publish Date: {new Date(entry.data.date).toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' })}</p>

  </div>
  <h1>{entry.data.title}</h1>
  <Content />
</Page>

<style>
  .meta{
    display: flex;
    gap: 40px;
    flex-direction: row;
    align-items: center;
  }
  h1{
    margin: 0;
    font-weight: 700;
  }
</style>